body {
  margin: 0%;
  overflow: hidden;
  background: rgb(30, 30, 30);
  font-family: 'pixel'
}

canvas {
  background: rgb(0, 0, 8);
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@font-face {
  font-family: 'pixel';
  src: url('pixel.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}